@use "../global" as g;

#pick-up  {
  padding-top: 80px;
  h2 {
    margin: 20px 0 30px;
    text-align: center;
    @include g.sp {
      margin-top: 0;
    }
  }
}

.slider img {
  width: 100%;
  aspect-ratio: 16 / 9;
  padding: 0 30px;
}